server:
  port: 9000

spring:
  datasource:
    druid:
      url: jdbc:mysql://223.71.251.57:24331/bjwkk?serverTimezone=Asia/Shanghai&characterEncoding=utf8&useSSL=false&useCursorFetch=true&defaultFetchSize=500&allowMultiQueries=true&useUnicode=true&characterEncoding=utf-8
      username: root
      password: 5t6y7u$%^&
      driverClassName: com.mysql.cj.jdbc.Driver
      type: com.alibaba.druid.pool.DruidDataSource
      # 初始化配置
      initial-size: 100
      # 最小连接数
      min-idle: 100
      # 最大连接数
      max-active: 2000
      # 获取连接超时时间
      max-wait: 60000
      remove-abandoned: true
      remove-abandoned-timeout: 1800
      # 连接有效性检测时间
      time-between-eviction-runs-millis: 90000
      # 最大空闲时间
      min-evictable-idle-time-millis: 1800000
      test-while-idle: true
      test-on-borrow: true
      test-on-return: true
      validation-query: select 1
      # 配置监控统计拦截的filters
      filters: stat
      stat-view-servlet:
        url-pattern: /druid/*
        reset-enable: false
        login-username: admin
        login-password: 123456
      web-stat-filter:
        url-pattern: /*
        exclusions: "*.js,*.gif,*.jpg,*.bmp,*.png,*.css,*.ico,/druid/*"

#mybatis plus 设置
mybatis-plus:
  mapperLocations: classpath:mapper/**/*Mapper.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: false

#Mybatis输出sql日志
logging:
  level:
    org.jeecg.modules.system.mapper : debug

# ⾃定义中间件配置
itstack:
  door:
    enabled: true
    userStr: 1001,aaaa,ccc #⽩名单⽤户ID，多个逗号隔开